<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Вход</h1>
<p><%= @message %></p>

<form action="/" method="post">
  <label for="">Name</label>
  <p><input type="text" name="name" id=""></p>

  <label for="">Password</label>
  <p><input type="password" name="pass" id=""></p>
  <input type="submit" value="Отправить">
</form>

</body>
</html>